[user]
# Please adapt and uncomment the following lines:
        name = Boris Veytsman
        email = borisv@lk.net
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
